@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

html {
  background-color: #eee;
}

p {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  /* VW (Viewport Width) sets the font/text size based on the width of the viewport( AKA Browser Window) */
  font-size: 2vw;
  text-align: center;
  border-bottom: 5px solid #ccc;
  padding: 30px;

  /* Width of two images */
  /* 22.5 * 2 = 45 */
  /* Width between two images (margin) */
  /* 1.25 * 2 = 2.5 */
  /* Width of the paragraph element (AKA Bottom Border) */
  /* 45 + 2.5 = 47.5 */
  width: 47.5%;

  /* "Margin auto" centers the paragraph element horizontally inside of the body elements */
  margin: auto;
}

img {
  /* 22.5 * 4 = 90 */
  width: 22.5%;
  /* 1.25 * 2 * 4 = 10 */
  margin: 1.25%;

  /* The float CSS property places an element on the left or right side of its container/parent allowing text and inline elements to wrap around it. The element is removed from the normal document flow. Also, removes the "mystery space" between image elements (NOTE: This "mystery space" is the actual spaces between img elements in an html file) */
  float:left
}